# Bussines Problem
<b> The Financial Technology company (Fin-Tech Company)</b> launch there a mobile app. This app used for financial purposes like bank loans, savings, etc. in one place. It has two versions free and premium. The free version app contains basic features and customer wants to use the premium feature then they have to pay some amount to unlock it.
   <br> 
    The main goal of the company is to sell the premium version app with low advertisement cost but they don’t know how to do it. That’s a reason they are provided the premium feature in the free version app for 24 hours to collect the customer’s behavior. After that, the company hired the Machine Learning Engineer to find insight from the collected data (customer’s behavior).
 <br> 
The job of the ML engineer is to find or predict new customer who is interested to buy the product or not. If the customers will buy a product anyway so no need to give an offer to that customer and loss the business. Only give offers to those customers who are interested to use premium version app but they can’t afford its cost. So the company will give offers to those customers and earn more money.

# Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from dateutil import parser # for columns like 'first_open' & 'enrolled_date'

# Importing the dataset

In [2]:
df= pd.read_csv('appdata10.csv')

In [3]:
df.head(10)

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled,enrolled_date,liked
0,235136,2012-12-27 02:14:51.273,3,02:00:00,23,"idscreen,joinscreen,Cycle,product_review,ScanP...",15,0,0,0,NaN,0
1,333588,2012-12-02 01:16:00.905,6,01:00:00,24,"joinscreen,product_review,product_review2,Scan...",13,0,0,0,NaN,0
2,254414,2013-03-19 19:19:09.157,1,19:00:00,23,"Splash,Cycle,Loan",3,0,1,0,NaN,1
3,234192,2013-07-05 16:08:46.354,4,16:00:00,28,"product_review,Home,product_review,Loan3,Finan...",40,0,0,1,2013-07-05 16:11:49.513,0
4,51549,2013-02-26 18:50:48.661,1,18:00:00,31,"idscreen,joinscreen,Cycle,Credit3Container,Sca...",32,0,0,1,2013-02-26 18:56:37.841,1
5,56480,2013-04-03 09:58:15.752,2,09:00:00,20,"idscreen,Cycle,Home,ScanPreview,VerifyPhone,Ve...",14,0,0,1,2013-04-03 09:59:03.291,0
6,144649,2012-12-25 02:33:18.461,1,02:00:00,35,"product_review,product_review2,ScanPreview",3,0,0,0,NaN,0
7,249366,2012-12-11 03:07:49.875,1,03:00:00,26,"Splash,Cycle,Home,Credit3Container,Credit3Dash...",41,0,1,0,NaN,0
8,372004,2013-03-20 14:22:01.569,2,14:00:00,29,"product_review,product_review2,ScanPreview,Ver...",33,1,1,1,2013-04-27 22:24:54.542,0
9,338013,2013-04-26 18:22:16.013,4,18:00:00,26,"Home,Loan2,product_review,product_review,produ...",19,0,0,1,2013-04-26 18:31:58.923,0

# Feature Engineering

In [4]:
# Check for datatype
df.dtypes

user                     int64
first_open              object
dayofweek                int64
hour                    object
age                      int64
screen_list             object
numscreens               int64
minigame                 int64
used_premium_feature     int64
enrolled                 int64
enrolled_date           object
liked                    int64
dtype: object

In [5]:
# Compare the dates into actual date time object so that hours can be got

df['first_open'] =[parser.parse(row_data) for row_data in df['first_open']]

# doing same for'enrolled_date'but here are some NaN values which needs to be treated

df['enrolled_date'] =[parser.parse(row_data) if isinstance(row_data,str) else row_data for row_data in df['enrolled_date']]

In [6]:
#Diff the columsn 'first_open' and 'enrolled_date'
#To check after hou much time after opening the App the users enrolls
# the difference can be in min/sec/hours but 'timedelta' will specify it
df['difference']= (df.enrolled_date-df.first_open).astype('timedelta64[h]')

In [7]:
# Every person who never enrolled is 0 as per daatset.
# We mark all people who enrolled after 48 hours as 0 to simplify df
df.loc[df.difference > 48, 'enrolled']=0

In [8]:
# Drop the columns whse use over and no more data is required from those
df= df.drop(columns=['difference','enrolled_date','first_open','screen_list'])

In [9]:
df.head()

,user,dayofweek,hour,age,numscreens,minigame,used_premium_feature,enrolled,liked
0,235136,3,02:00:00,23,15,0,0,0,0
1,333588,6,01:00:00,24,13,0,0,0,0
2,254414,1,19:00:00,23,3,0,1,0,1
3,234192,4,16:00:00,28,40,0,0,1,0
4,51549,1,18:00:00,31,32,0,0,1,1

In [10]:
# First set of Feature cleaning
df["hour"] = df.hour.str.slice(1, 3).astype(int)

# Data Pre Processing

In [18]:
x = df.loc[:, df.columns != "enrolled"]

In [20]:
y = df['enrolled']

In [21]:
x.head()

,user,dayofweek,hour,age,numscreens,minigame,used_premium_feature,liked
0,235136,3,2,23,15,0,0,0
1,333588,6,1,24,13,0,0,0
2,254414,1,19,23,3,0,1,1
3,234192,4,16,28,40,0,0,0
4,51549,1,18,31,32,0,0,1

In [22]:
y.head()

0    0
1    0
2    0
3    1
4    1
Name: enrolled, dtype: int64

# Split the Dataset

In [23]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [24]:
# Removing the User Id column as it is not a real feature.
# but at the end we will use this data

train_identifier = x_train['user']
x_train = x_train.drop(columns=['user'])

test_identifier = x_test['user']
x_test = x_test.drop(columns=['user'])

In [25]:
x_train

       dayofweek  hour  age  numscreens  minigame  used_premium_feature  liked
20330          2    20   32           5         0                     1      1
17532          1    21   22          42         1                     0      0
45819          0     4   26          85         1                     0      0
34807          4    13   25          24         1                     0      0
31888          3    16   50          11         0                     0      0
...          ...   ...  ...         ...       ...                   ...    ...
21243          5    23   19           6         0                     0      0
45891          0    15   22           4         1                     1      0
42613          3     6   25          43         0                     0      0
43567          4    13   27           4         1                     0      1
2732           1    18   20          13         0                     0      1

[40000 rows x 7 columns]

# Feature Scaling

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler(copy=True, with_mean=True, with_std=True)

scaler.fit(x_train)

# Now apply the transformations to the data:
train_scaled = scaler.transform(x_train)
test_scaled = scaler.transform(x_test)
y_train=y_train.astype('int')
y_test=y_test.astype('int')

# Model Building

In [47]:
# Fitting Model to the Training Set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
# Predicting Test Set
y_pred = classifier.predict(x_test)

In [43]:
y_test

11841    1
19602    1
45519    0
25747    1
42642    1
        ..
25091    1
27853    1
47278    0
37020    1
2217     1
Name: enrolled, Length: 10000, dtype: int32

In [44]:
y_pred

array([1, 1, 0, ..., 1, 1, 1])

# Evaluating Results

In [36]:
# Evaluating Results
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, precision_score, recall_score
cm = confusion_matrix(y_test, y_pred)
cm

array([[3471, 1601],
       [2050, 2878]], dtype=int64)

In [34]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.63      0.68      0.66      5072
           1       0.64      0.58      0.61      4928

    accuracy                           0.63     10000
   macro avg       0.64      0.63      0.63     10000
weighted avg       0.64      0.63      0.63     10000